name: Mirror Repo

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codeburger:
    name: Mirror to Codeburger
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: pixta-dev/repository-mirroring-action@v1.1.1
        with:
          target_repo_url: "git@codeberg.org:paige/Navic.git"
          ssh_private_key: ${{ secrets.CODEBURGER_SSH_PRIVATE_KEY }}
